$main-color       : #FB7053;
$main-color-muted : #FF7857;
$hover            : rgba(255, 255, 255, .3);
$black            : #242424;
$background       : #FFFAF7;

$radius           : 15px;

$transition-4     : .4s;
